.doorArea {
    position: relative;
    width: 200px;
    height: 310px;
    border-bottom: 10px solid #AAA;
    margin-bottom: 20px;
    font-size: 3rem;

    display: flex;
    justify-content: center;
}

.doorFrame {
    position: absolute;
    height: 300px;
    width: 180px;

    border-right-width: 5px;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.door {
    position: absolute;
    top: 5px;
    height: 295px;
    width: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.door .knob {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    align-self: flex-start;
    margin-top: 60px;
}